*
{
    padding: 0;
    margin: 0;
}
:root{
    --primary-color:black;
    --secondary-color: rgb(119, 116, 116);
    --tertiary-color: rgb(61, 58, 58);
    --border-color:white;
}
.light-theme
{
    --primary-color:white;
    --secondary-color: rgb(194, 190, 190);
    --tertiary-color: wheat;
    --border-color:black;
}

header
{
    /* background-color: rgb(61, 58, 58); */
    background-color: var(--tertiary-color);
    text-align: right;

}

#sun
{
    width: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 50px;
    
}
.container
{
    /* background-color: rgb(61, 58, 58); */
    background-color: var(--tertiary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paintbox
{
    /* background-color: black; */
    background-color: var(--primary-color);
    text-align: center;
    /* width: 80vw;
    height: 75vh; */
    border-radius: 10px;
    cursor:pointer;
}
.paintbox
{
    /* box-shadow: 0 1px 20px 0 rgb(119, 116, 116) inset, 0 1px 20px 0 rgb(119, 116, 116),
                0 1px 20px 0 rgb(119, 116, 116) inset, 0 1px 20px 0 rgb(119, 116, 116); */
                box-shadow: 0 1px 20px 0 var(--secondary-color) inset, 0 1px 20px 0 var(--secondary-color),
                0 1px 20px 0 var(--secondary-color) inset, 0 1px 20px 0 var(--secondary-color);
}
.tools
{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 0;
}
.tools .color-feild
{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border: 1px  solid var(--border-color) ;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px;
    margin-top: 0%;
}
.tools .button
{
    text-align: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color:var(--border-color) ;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    font-weight: bold;
    margin: 0 10px;
}

.color-picker
{
    text-align: center;
    margin: 0 10px;
    height: 50px;
    cursor:pointer;
}

.pen-range
{
    text-align: center;
    margin: 0 10px;
    cursor:pointer;
}
